// @use "../../partials/typography" as *;
// @use "../../partials/colors" as *;
// @use "../../partials/mixins" as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 45px;
  background-color: #f7f7f7;
  &__icon {
    transform: scale(0.4);
  }
}
