// @use "../../partials/colors" as *;
// @use "../../partials/mixins" as *;
// @use "../../partials/typography" as *;

.main {
  background-color: #f9f9f9;
  &__menuimg {
    width: 100vw;
  }

  &__votecontainer {
    background-image: url("../../assets/images/voteimage.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 332px;
    max-width: 332px;
    min-height: 175px;
    max-height: 175px;
    transform: scale(0.895);
    margin-left: -4px;
    margin-bottom: 25px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      color: white;
      width: 40%;
      font-weight: bold;
      padding-top: 20px;
    }
    &-button {
      font-weight: bold;
      height: 40px;
      width: 140px;
      background-color: #f5bf43;
      border: 1px solid #f5bf43;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 20px;
      font-size: 10px;
    }
  }

  &__whatsnew {
    width: 100vw;
    margin-bottom: -5px;
  }
}
